body {
  font-size: 16px;
}

header {
  margin-bottom: 1.5em;
  cursor: pointer;
}

header h1 {
  font-weight: bold;
  color: #36A168;
}

header h1, header h4 {
  margin-left: 20px;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
}

.container {
  margin: 5em 0 3em;
}

a {
  color: #36A168;
}

.logo {
  height: 80px;
  width: 80px;
  background-color: #36A168;
  display: inline-block;
}

.logo:after {
  display: inline-block;
  color: white;
  content: '≃';
  font-size: 110px;
  position: absolute;
  line-height: 0;
  top: 42px;
  left: 23px;
}

.logo.back:after {
  content: '<';
  font-size: 90px;
  top: 46px;
  left: 26px;
}

.posts {
  margin-left: 0;
  list-style-type: none;
  font-size: 1.3em;
}

.posts li {
  cursor: pointer;
}

.posts li:before {
  content: '≃';
  font-size: 1.3em;
  color: #36A168;
}

.post-body {
  /*padding-top: 2em;*/
}

.vertical-center {
  display: flex;
  align-items: center;
}
